html, button, input, select, textarea, .pure-g [class *= "pure-u"], .pure-g-r [class *= "pure-u"]{
    font-family: 'Open Sans', sans-serif;
}

html{
    
}

body{
    display: flex;
    flex-direction: column;
    background-color: #ebf4fa;

}

header > .home-menu{
	background: #2d2d2d !important;
    height: 54px;
    display: flex;
}

header > .home-menu > a.pure-menu-heading, header > .home-menu > ul, header > .home-menu > ul > li{
    display: flex !important;
    align-items: center;
    justify-content: center;
    line-height: normal !important;
}

header > .home-menu > a.pure-menu-heading{
    color: white;
    font-size: 1.5em;
}

header > .home-menu > ul > li > a{
    color: #ced4d9;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li > a:focus{
    background: inherit !important;
}

header > .home-menu > ul > li > a:hover, header > .home-menu > ul > li.pure-menu-selected > a{
    color: white;
}

main{
    background-color: #ebf4fa;
    position: relative;
    max-width: 1160px;
    margin: 0 auto;
}

footer{
    text-align: center;
    color: #555;
    text-decoration: none;
    font-size: 0.8em;
    padding: 15px;
    line-height: 24px;
}

footer a{
    color: #000;
    text-decoration: none;
}

footer iframe{
    vertical-align: middle;
}
@media (max-width:1000px){
    
    #welcomeText{ font-size: 2.5em !important; text-align: center; margin: 50px 20px 10px 22px !important; }
    #welcomeItems{ list-style-type: none; font-size: 1.3em; padding: 0 !important; margin: 0 0 0 22px !important; }
    #welcomeItems > li{ margin: 35px !important; }
}
